.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
  padding: 20px;
  gap: 20px;
}

.app-bar {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background-color: #333; /* dark background */
  padding: 10px;
  color: #fff; /* white text */
}

.app-bar a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff; /* white link text */
}

.division-1,
.division-2 {
  flex: 1 1 40%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333; /* light dark background */
  padding: 20px;
  box-sizing: border-box;
  min-height: 50vh;
  color: #fff; /* white text */
}

.key-div {
  background-color: #fff; /* white background */
  color: #333;
  border-radius: 10px; /* rounded corners */
  width: 90%; /* fill almost the entire width of the parent div */
  padding: 2px;
  padding-left: 10px; /* some padding to give space around the text */
  margin: 5px auto; /* center the div and add some vertical space */
  box-sizing: border-box; /* include padding and border in element's total width and height */
}
.popup {
  background-color: #fff; /* white background */
  color: #333;
  border-radius: 10px; /* rounded corners */
  width: 50%; /* fill almost the entire width of the parent div */
  padding: 20px; /* some padding to give space around the text */
  margin: 20px auto; /* center the div and add some vertical space */
  box-sizing: border-box; /* include padding and border in element's total width and height */
  position: fixed; /* make the popup fixed */
  top: 50%; /* center the popup vertically */
  left: 50%; /* center the popup horizontally */
  transform: translate(-50%, -50%); /* adjust the position of the popup */
  border: 5px solid #333; /* dark border */
  z-index: 1000; /* make the popup appear on top of other elements */
}

.notification {
  position: 'fixed';
  top: '10px';
  left: '10px';
  z-index: 1000;
  background-color: 'red';
  color: 'white';
  padding: '10px';
  border-radius: '5px';
}

.settings-button {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  margin-right: 15px;
  padding: 0;
  outline: none;
}

.settings-button:hover {
  color: blue;
}

.settings-button:active,
.settings-button:focus {
  outline: none;
  box-shadow: none;
}
.message-container {
  position: fixed;
  bottom: 60px; /* 10px from the bottom of the screen */
  right: 130px; /* 10px from the right edge of the screen */
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 475px;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px; /* Add padding to the container */
}

.message-container select {
  width: 100%; /* Make the select element take up the full width of the container */
  margin-bottom: 10px; /* Add some margin below the select element */
  padding: 5px; /* Add some padding to the select element */
  border-radius: 5px;
  color: #333;
  background-color: #f0f0f0; /* Round the corners of the select element */
}
.message-container input {
  width: 95%; /* Make the select element take up the full width of the container */
  margin-bottom: 10px; /* Add some margin below the select element */
  padding: 5px; /* Add some padding to the select element */
  border-radius: 5px;
  color: #333;
  background-color: #f0f0f0; /* Round the corners of the select element */
}

.messages::-webkit-scrollbar {
  width: 5px;
}
.messages::-webkit-scrollbar-thumb {
  background-color: #007bff;
}
.messages::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}
.message-container button {
  width: 100%; /* Make the button take up the full width of the container */
  padding: 10px; /* Add some padding to the button */
  border: none; /* Remove the default border */
  border-radius: 5px; /* Round the corners of the button */
  background-color: #007bff; /* Make the button blue */
  color: white; /* Make the text on the button white */
  cursor: pointer; /* Change the cursor when hovering over the button */
}

.message-container button:hover {
  background-color: #0056b3; /* Darken the button when hovering over it */
}

.messages {
  width: 100%; /* Use full width of the container */
  height: 425px;
  overflow-y: scroll;
  padding: 10px;
}

.message {
  max-width: 70%;
  font-size: small;
  margin: 10px;
  padding: 10px; /* More padding for better readability */
  border-radius: 10px;
  background-color: #fff; /* White background for better contrast */
  color: #333; /* Dark text for better contrast */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.message.other {
  margin-right: auto; /* Align other messages to the left */
  background-color: #f0f0f0; /* Lighter background for better contrast */
  color: #333;
}

.message:not(.other) {
  margin-left: auto; /* Align own messages to the right */
  background-color: #dcf8c6;
  color: #333;
}

.open-messages-button {
  position: fixed; /* Fixed positioning */
  bottom: 60px; /* 10px from the bottom of the screen */
  right: 50px; /* 10px from the right edge of the screen */
  width: 70px; /* Width of the button */
  height: 70px; /* Height of the button */
  border-radius: 50%; /* Make the button round */
  background-color: #007bff; /* Make the button blue */
  color: white; /* Make the text on the button white */
  border: none; /* Remove the default border */
  cursor: pointer; /* Change the cursor when hovering over the button */
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center the text horizontally */
  align-items: center; /* Center the text vertically */
  font-size: 24px; /* Increase the font size */
}

.open-messages-button:hover {
  background-color: #0056b3; /* Darken the button when hovering over it */
}
