.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: #fff;
}

.app-bar {
  display: flex;
  justify-content: flex-end;
  position: sticky;
  top: 0;
  background-color: #333; /* dark background */
  padding: 10px 0;
  color: #fff; /* white text */
}

.app-bar a {
  margin-left: 20px;
  margin-right: 20px;
  text-decoration: none;
  color: #fff; /* white link text */
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 20px;
  gap: 20px;
}

.division-1,
.division-2 {
  flex: 1 1 40%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333; /* light dark background */
  padding: 20px;
  box-sizing: border-box;
  min-height: 50vh;
  color: #fff; /* white text */
}

.key-div {
  background-color: #fff; /* white background */
  color: #333;
  border-radius: 10px; /* rounded corners */
  width: 90%; /* fill almost the entire width of the parent div */
  padding: 2px;
  padding-left: 10px; /* some padding to give space around the text */
  margin: 5px auto; /* center the div and add some vertical space */
  box-sizing: border-box; /* include padding and border in element's total width and height */
}
.popup {
    background-color: #fff; /* white background */
    color: #333;
    border-radius: 10px; /* rounded corners */
    width: 50%; /* fill almost the entire width of the parent div */
    padding: 20px; /* some padding to give space around the text */
    margin: 20px auto; /* center the div and add some vertical space */
    box-sizing: border-box; /* include padding and border in element's total width and height */
    position: fixed; /* make the popup fixed */
    top: 50%; /* center the popup vertically */
    left: 50%; /* center the popup horizontally */
    transform: translate(-50%, -50%); /* adjust the position of the popup */
    border: 5px solid #333; /* dark border */
    z-index: 1000; /* make the popup appear on top of other elements */
  }