.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #fff;
}

.app-bar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  width: 100vw;
  height: 5vh;
  top: 0;
  background-color: #333; /* dark background */
  padding: 10px 0;
  color: #fff; /* white text */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 95vh;
  background-color: #fff;
}

.division {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333; /* light dark background */
  padding: 20px;
  box-sizing: border-box;
  min-height: 50vh;
  color: #fff; /* white text */
}

.key-div {
  background-color: #fff; /* white background */
  color: #333;
  border-radius: 10px; /* rounded corners */
  width: 90%; /* fill almost the entire width of the parent div */
  padding: 2px;
  padding-left: 10px; /* some padding to give space around the text */
  margin: 5px auto; /* center the div and add some vertical space */
  box-sizing: border-box; /* include padding and border in element's total width and height */
}

.popup2 {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popup-inner2 {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  border-radius: 20px;
  background: white;
  padding: 20px;
  text-align: center;
  color: black;
}

.popup-inner2 h2 {
  margin-bottom: 20px;
}

.popup-inner2 p {
  margin-bottom: 10px;
}

.popup-inner2 input {
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
}

.popup-inner2 button {
  padding: 10px 20px;
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
